Makefile
*.o
*.so
*.a
a.out
*.log
*.status
*.cache
autom4te.cache/*
autom4te.cache
configure
cyclades-ser-cli
*~
inc/conf.h
inc/conf.h.in~
inc/misc.h
inc/conf.h.in
libcsc/Makefile
libcsc/libcyclades-ser-cli.so
sun/pkginfo
